/* ------------------------------------------ */
/*              Utility Classes               */
/* ------------------------------------------ */

.d-flex {
    display: flex;
}

.ff-barlow {
    font-family: 'Barlow', sans-serif;
}

.ff-barlow-condensed {
    font-family: 'Barlow Condensed', sans-serif;
}

.ff-bellefair {
    font-family: 'Bellefair', serif;
}





