:root {
  --dark-blue: #0b0d17;
  --white: #ffffff;
  --light-violate: #d0d6f9;
  --barlow: 'Barlow', sans-serif;
  --barlow-condensed: 'Barlow Condensed', sans-serif;
  --bellefair: 'Bellefair', serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  font-family: 'Barlow', sans-serif;
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Bellefair', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
