.top-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link {
    text-decoration: none;
    cursor: pointer;
}

.logo-div {
    margin: 20px;
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation {
    list-style: none;
    display: flex;
    background: rgba(0, 0, 0, 0.555);
    padding: 0;
    margin: 0;
    gap: max(15px, 5vw);
}

@supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
        background: rgba(255, 255, 255, 0.11);
        backdrop-filter: blur(10px);
    }
}

.primary-navigation .navlink {
    color: #ffffff;
    text-decoration: none;
    font-family: var(--barlow-condensed);
    font-weight: 400;
    text-transform: uppercase;
    font-size: clamp(16px, 1.2vw, 20px);
    letter-spacing: 1px;
    cursor: pointer;
}

.primary-navigation .navlink span[aria-hidden="true"] {
    font-weight: 700;
    margin-inline-end: 4px;
}





/* ------------------------------------------ */
/*                 Media Query                */
/* ------------------------------------------ */

@media only screen and (max-width: 767px) {

    .mobile-nav-toggle {
        display: block;
        margin-right: 20px;
        margin-left: auto;
        background: rgba(255, 255, 255, 0);
        border: none;
        color: #ffffff;
        padding: 0;
        z-index: 9999;
        cursor: pointer;
    }

    .mobile-nav-toggle > svg {
        width: 10vw;
        height: 10vw;
    }

    .primary-navigation {
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        gap: max(25px, 9vw);
        padding: 27.5% 7% 10%;
        z-index: 100;
        transform: translateX(100%);
        transition: transform .4s ease-out;
    }

    .primary-navigation.show {
        transform: translateX(0%);
    }
}